*{
    padding: 0px;
    margin: 0px;
    font-weight: bold;
    font-family:sans-serif;
    overflow-x: hidden;
}
body{
    background: linear-gradient(140deg,#cc22ff, #22a7ff);
}
:root{
    --webcolor:#5865f2;
}
.header{
    width: 100%;
    height: 626px; 
    margin: 0px auto;
    background: url(https://rocket-league.com/content/media/news/1200px/b8139ee9f81668301035.jpg);
    background-size: cover;
}
.navbar{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.logo{
    width: 120px;
    height: 60px;
    cursor: pointer;
    overflow: hidden;
}
.logo img{
    width: 80px;
    height: 70px;
    border-radius: 20px;
    
}
.sections{
    width: 700px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 17px;
    transition: 2s;
}
.sections a{
    color: #fff;
    text-decoration: none;

}
.login{
    width: 80px;
    height: 40px;
    border-radius: 15px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 3s  ;
}
.login a{
    color: black;
    text-decoration: none;

}
.head{
    width: 780px;
    height: 278px;
    margin: 60px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000;
    background-color: #5865f24d;
    border-radius: 15px;
}
.head h1{
    font-size: 45px;
}
.button0{
    margin-top: 30px;
    width: 750px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.button1{
    width: 294px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 25px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    transition: 2s;
}
.button1 span{
    overflow: hidden;
}

.button2{
    width: 350px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 25px;
    background-color: #5865f2;
    color: #fff;
    cursor: pointer;
    transition: 2s;
}
section{
    width: 100%;
    margin: 0px 300px;
    height: auto;
}
.sec1{
    width: 1260px;
    height: 680px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.con1{
    width: 678px;
    height: 440px;
    overflow-y: hidden;
}
.con2{
    width: 380px;
    height: 440px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.con2 h1{
    font-size: 50px;
}

.sec2{
    width: 1260px;
    height: 680px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.con3{
    width: 380px;
    height: 440px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.con3 h1{
    font-size: 50px;
}
.con4{
    width: 678px;
    height: 440px;
    overflow-y: hidden;
}


.sec3{
    width: 1260px;
    height: 680px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.con6{
    width: 380px;
    height: 440px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.con6 h1{
    font-size: 50px;
}
.con5{
    width: 678px;
    height: 440px;
    overflow-y: hidden;
}





.sec4{
    width: 1260px;
    height: 680px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.con7{
    width: 980px;
    height: 127px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.con7 h1{
    font-size: 50px;
}
.con8{
    width: 1180px;
    height: 715px;
    overflow-y: hidden;
}
.con8 img{
    width: 1180px;
    height: 655px;
    overflow-y: hidden;
}

.sec5{
    width: 1260px;
    height: 160px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}
.sec5 h1{
    font-size: 35px;
    padding-bottom: 10px;
    overflow: hidden;
}
.sec5 img {
    position: absolute;
}
.button3{
    width: 300px;
    height: 56px;
    border-radius: 15px;
    background-color: var(--webcolor);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 15px;
    transition: 3s;
}
.button3 span{
    overflow: hidden;
    font-size: 35px;
}

.sections a:hover{
    text-decoration:underline;
}

.login:hover{
    box-shadow: 10px 10px 10px #000;
}
.button1:hover{
    box-shadow: 10px 10px 10px #000;
}
.button2:hover{
    background-color: #22a7ff;
    box-shadow: 10px 10px 10px #000;
}
.button3:hover{
    background-color: #22a7ff;
    box-shadow: 10px 10px 10px #000;
}